.axis--x path {
  /display: none;
}

.line {
  fill: none;
  stroke: #d84315;
  stroke-width: 3px;
}


.bar {
  fill: #ffc107;
}

.bar:hover {
  fill: #ffa000;
}

.axis--x path {
  /display: none;
}

body {
  font: 10px sans-serif;
}

.group-tick line {
  stroke: #000;
}

.ribbons {
  fill-opacity: 0.67;
}


